html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}
@media(max-width: 390px) {
    .title {
        padding: 20px 20px 20px 40px!important;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* my styles */
.list {
    display: flex;
    flex-direction: column;
}
.list-item {
    width: 100%;
    height: 10%;
    background-color: whitesmoke;
    margin: 0 0 15px 0;
    border-radius: 3px;
    cursor: pointer;
}
.list-item:hover {
    box-shadow: 0 0 9px #8c8c8c;
}
.list-item__header {
    padding: 20px;
    font-weight: bold;
}
.list-item__content,
.list-item__date-add {
    padding: 0 20px;
}
.link-right {
    display: flex!important;
}
.link-sign {
    text-decoration: none!important;
}
.data-one {
    display: flex;
}
.avatar {
    margin: 0 0 20px 0;
}
.title {
    padding: 20px 20px 20px 80px;
}
.title__username {
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 10px 0;
}
.title__email {
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 20px 0;
}
.content {
    width: 100%;
    overflow-wrap: break-word;
}
.link-image {
    font-size: 17px;
    text-decoration: none!important;
}
.link-bulletin {
    margin: 20px 0 0 20px!important;
    font-size: 17px;
    text-decoration: none!important;
}
.link-title {
    font-size: 17px;
    text-decoration: none!important;
}
.hide {
    display: none;
}